<html>
<head>
    <title>Classify your Image!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color:black"><center>
	<h2 style="color:blue;">Diabetic Rectiopathy Detector</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSB6HHfrUzLWRS2UxOJIUVXuzUkBp5m-s7Pmi0Dz0VA7c9MgXeo" style="margin: 30px;"></center>
<div id="maintext" style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">

  <h1 class="text-light mb-2"> Upload your image to be classified! </h1>
  <h4 class="text-light mb-5">(Please upload images less than 500kb in size)</h4>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Upload style="height: 50px; width:90px; ;border-radius: 20px;">
     </p>
  </form>
</div>
</body>
</html>